@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    position: relative;
    height: 100vh;
}

.telaiphone {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.celular {
    width: 311px;
}

.tela-home {
    position: absolute;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

footer {
    color: #ffffff;
    margin-bottom: 90px;
    font-family: cursive;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: rgb(253, 60, 60) !important;
}