@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    position: relative;
    height: 100vh;
            /* Adicione esta linha */
    display: flex;
    /* Centraliza verticalmente */
    align-items: center;
    /* Centraliza horizontalmente */
    justify-content: center;
}

.telaiphone {
    position: relative;
    /* Remova ou ajuste top, left e transform */
    top: 0;
    left: 0;
    transform: none;
    margin-right: 40px; /* Espaço entre o iPhone e os botões */
}

.celular {
    width: 311px;
}

.tela-home {
    position: absolute;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section.redessociais {
    display: flex;
    flex-direction: column;
}

section.redessociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}

section.redessociais img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 3px #ffffffb3;
}